<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dispositivos</title>
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>
<body>
    <h1> seleciona la cantidad de dispositivos electronicos en tu hogar</h1>
    <ul>
        {% for i in range(1,21)%}
        <li>
            <a href="/{{size_home}}/{{num_lamparas}}/{{  i  }}">Tengo {{i}} dispositivos</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>