<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamparas</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>selecciona el tamallo de tu casa </h1>
    <ul>
        <li>  <a href="/1" >Casa pequeña</a>  </li>

        <li>  <a href="/2" >Casa mediana</a>  </li>

        <li>  <a href="/3" >Casa grande</a>  </li>
    </ul>

</body>
</html>